# Turn on the rewrite functionnality
RewriteEngine On

# Redirect all incoming traffic not related to files to the index.php file
# It checks if the request contains a '.' or not.
RewriteRule ^[^\.]*$ index.php [NC,L]